<% data = @orf_model.send(experiment) %>

<% exdata = samples.map{|s| data.send(s)} %>

<table class='table table-bordered table-condensed'>

<tr>
<% samples.each_with_index do |s, i| %>
  <th><%= "#{sample_label[s]} (#{s})" %></th>
<% end %>
</tr>

<tr>
<% exdata.each_with_index do |x, i| %>
  <td><%= sprintf("%.2f", x) %></td>
<% end %>
</tr>

</table>